<!DOCTYPE html>
<html>
    <head>
    	<meta charset = "utf-8">
        <title>Cold Embrace</title>
        <link rel="stylesheet" href="../css/style.css">  
        
        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
        
        <audio autoplay>
			<source src="../music/spooktune.mp3" type="audio/mpeg">
		</audio> 
    </head>
    <body>
		<div class="con">
			<div class="header">
			
				<img class="logo" src="../img/ghosticon.png">
				<h1>The Cold Embrace</h1>
			
			</div>
			<div class="navbox"></div>
				<a class="menuitem" href="index">HOME</a>
				<a class="menuitem" href="/survey">Begin Your Journey Today</a>
					</br>
			</div>
			<div class="main">
				<h3>Our mission</h3>
	       			<p>Love after death. Your life may have ended, but that doesn’t
			        you mean you can’t find a love to spent the rest of your eternity
			        with. Here at The Cold Embrace we help ghost people find the 
			        incopporial love they deserve.
	       			</p>
        
			    
            </div>
		</div>
    </body>
</html>