<!DOCTYPE html>
<html>
    <head>
        <title>Finding Your Match</title>
        
        <link rel="stylesheet" href="../css/style.css"> 
        
        <audio autoplay>
			<source src="../music/shop.mp3" type="audio/mpeg">
		</audio>
        
    </head>
    <body>
    
    <form method='post'>
            First Name:
                <br>
            <input type="text" name="fname" value="First Name">
                <br>
            Last Name:
                <br>
            <input type="text" name="lname" value="Last Name">
                <br>
            Year Of Birth:
                <br>
            <input type="text" name="ybirth" value="Birth Year">
                <br>
            Year Of Re-Birth:
                <br>
            <input type="text" name="yrebirth" value="Death Year">
                <br>
            Sex:
                <br>
                <select name="u_sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Fluid Specter">Fluid Specter</option>
                    <option value="Geist Kin">Geist Kin</option>
                    <option value="Other">Other</option>
                </select>
            <input type="submit" value="Go!">
        </form>
    
      </body>
  </html>