.con {
	width: 100%; 
	height: 100%;

}

.header {
	width: 100%; 
	height: 30%;
	font-family: 'Coiny', cursive;
	
}

.logo {
	width: 12%; 
	float: left;

}

.main {
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	width: 100%;
	color: #fff;
}


.navbox a {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 17px;
}

.navbox {
	width: 100%;
	background-color: #d8bdeb;
}

.menuitem {
	float: left;
	
	width: 20%;
	height:100%;
	padding: 1% 1%;
	
	background-color: #d8bdeb;
	
	text-decoration: none;
	text-align: center;
	
	font-family: 'Coiny', cursive;
	font-size: 120%;

}


.menuitem:hover {
    background-color: rgb(190, 140, 230);
    color: rgb(150, 0, 200);
}

.form {
	text-align: center;
}

a {
	color: #ffffff;
}

body {
    background-color: #d8bdeb;
    
    font-family: 'Coiny', cursive;
}

.bighead {
	text-align: center;
	float: inherit;
	
	color: #ffffff;
	
	font-size: 400%;
}